.cabecalho {
    background-image: linear-gradient(purple,gray);
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: gray;
    padding: 60px;
}

.section2 {
    background-color: gray;
    padding: 200px;
}

.cabecalho-imagem {
    width: 200%;
}

.rodape {
    background-color: purple;
}