.cabecalho {
    background-color: aqua;
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: blueviolet;
    padding: 80px;
}

.section2 {
    background-color: blue;
    padding: 120px;
}

.cabecalho-imagem{
    width: 80%;
}