.cabecalho {
    background-color: black;
    color: aliceblue;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: brown;
    padding: 60px;
}

.section2 {
    background-color: blue;
    padding: 200px;
}

.cabecalho-imagem{
    width: 200%;
}